.Message{
    position: absolute;
    animation-name: messageAppear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 10;
    pointer-events: none;
}
@keyframes messageAppear {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    10%{
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
        
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}
